<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.example.ui.PracticeEditor"
            icon="icons/sample.gif"
            default="true"
            contributorClass="com.example.actions.DiagramActionBarContributor"
            name="Practice Editor"
            id="com.example.ui.PracticeEditor"
            extensions="xml"/>
   </extension>

</plugin>
